@headings: #18a13a;
@inputbg: #e5e5e5;
* {
    padding:0;
    margin:0;
}
html {
    width: 100%;
    height: 100%;
    min-height: 100%;
}
body {
    position: relative;
    min-height: 100%;
    margin: 0;
    padding: 0;
    background-position-x: center;
    font-family:Arial;
    color: #555;
    font-size:12px;
}
#mission {
    display: none;
}
table {
    tr{
        td{
            font-size:12px;
        }
    }
}
form {
    .line h2#head, .line h3#head {
        text-align: left;
    }
    .res.success {
        color:@headings;
    }
    label {
        padding: 3px 5px;
        width: 25%;
        display: block;
        float: left;
        text-align: right;
        min-height: 10px;
    }
    input {
        padding:4px;
        background: @inputbg;
        border: 1px solid #555;
        color: #5f5f5f;
    }
    textarea {
        padding:4px;
        background: @inputbg;
        border: 1px solid #555;
        color: #5f5f5f;
    }
    select {
        background: @inputbg;
    }
    input[type=checkbox] {
        margin: 6px 5px;
    }
    input[type=submit] {
        background: #40C540;
        color: white;
        border: 0;
        border-radius: 5px;
        padding: 2px 18px;
        cursor: pointer;
        font-weight: bold;
        font-size: 20;
    }
    .data.line {
        width: 100%;
        padding: 2px 0px;
        display: block;
        overflow: hidden;
    }
    .res.err {
        color: #F00;
        width: 75%;
        float: right;
        text-align: left;
        margin-right: -10px;
    }
    .progress {
        position: relative;
        width: 390px;
        border: 1px solid #ddd;
        padding: 1px;
        border-radius: 3px;
        .percent {
            position: absolute;
            display: inline-block;
            top: 3px;
            left: 48%;
        }
        .bar {
            background-color: #B4F5B4;
            width: 0%;
            height: 20px;
            border-radius: 3px;
        }
    }
}
.wrapper {
    min-height: 100%;
    background: url(/style/images/bg_im.png) no-repeat;
    background-size: 375px;
    min-width: 1260px;
    background-position-y: 50px;
    position: relative;
    margin: auto;
}
.header {
    width:100%;
    overflow: hidden;
    ul#menu {
        list-style: none;
        display: block;
        overflow: hidden;
        float:right;
        background: #18633A;
        padding-left: 120px;
        background-image: url('/style/images/menu.jpg');
        background-repeat: no-repeat;
        li.download {
            background: #97BE0A;
            border-radius: 15px;
            height: 38px;
        }
        li {
            list-style: none;
            float: left;
            padding: 8px;
            color: #fff;
            font-size: 16px;
            font-weight: bold;
            width: 85px;
            text-align: center;
            a {
                color: #FFF;
                text-decoration: none;
                font-size:15px;
                vertical-align: middle;
                height: 38px;
                display: table-cell;
                width: 85px;
            }
        }
        li#double a{
            height:19px;
            display: block;
            width: 100%;
        }
    }
    #logo {
        img {
            height: 140px;
        }
    }
    #menu {
        display: block;
    }
    #userslist {
        width: 850px;
        position: absolute;
        right: 50%;
        top: 60px;
        border-top: 1px solid #18A139;
        border-bottom: 1px solid #18A139;
        padding: 5px 0;
        margin-top: 20px;
        margin-right: -595px;
        #naming {
            margin-top: -25px;
            width: 115px;
            background: #FFF;
            padding: 2px 5px;
            color: @headings;
        }
        #user:hover {
            #name {
                display:block;
            }
            #avatar {
                display:none;
            }
        }
        #user {
            width: 75px;
            float: left;
            padding: 5px;
            height: 60px;
            color: #000;
            text-decoration: none;
            #name {
                height: 60px;
                background: rgba(0,0,0,0.2);
                display: none;
                width: 60px;
                padding: 0 5px;
            }
            #avatar {
                width: 60px;
                margin: auto;
                img {
                    max-width:100%;
                }
            }
        }
    }
    #top {
        overflow:hidden;
    }
}


.content {
    padding-bottom: 100px;
    overflow: hidden;
    img.divider {
        position: absolute;
        left: 335px;
        top: 0;
        height: 100%;
        z-index: 4;
    }
    form {
        margin:10px;
    }
    #error {
        z-index: 5;
        position: absolute;
        width: 500px;
        left: 50%;
        margin-left: -245px;
        background: #FFF;
        padding: 10px;
        font-size: 52px;
        text-align: center;
        color: #F00;
    }
    .right {
        width: 55%;
        float: right;
        #data {
            padding:25px;
            font-style: italic;
        }
    }
}

.footer {
    width: 100%;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    z-index: 10;
    margin: -30px 0 0 0;
    height: 20px;
    ul#menu {
        list-style: none;
        padding: 3px;
        li {
            padding: 0 5px;
            float: left;
            color:#fff;
            a {
                color:#fff;
                text-decoration:none;
            }
        }
    }
    #menu {
        display: block;
        float:right;
    }
    #bot_menu {
        overflow:hidden;
        background:@headings;
        #rights {
            float: left;
            padding-left: 20%;
            color: #FFF;
        }
    }
    #carousel {
        position: relative;
        width: 100%;
        height: 70px;
        overflow: auto;
        background: #FFF;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        ul {
            display: block;
            img {
                display: block;
                margin: auto;
            }
        }
        .container {
            overflow: hidden;
            a {
                display: block;
                float: left;
                border: none;
                padding: 5px;
                max-width: none;
                width: 50px;
                text-align: center;
                overflow: hidden;
                height: 50px;
            }
            img {
                max-height: 73px;
                max-width: 73px;
            }
        }
    }
}

.right {
    #map_info {
        padding: 10px;
        height: 300px;
        float: right;
        width: 240px;
        position: absolute;
        z-index: 5;
        right: 70px;
    }
}
.left_pane {
    #photoimg {
        height: 400px;
        overflow: hidden;
        display: block;
    }
    #last_photo {
        max-width: 715px;
        margin-left: 10px;
        max-height: 715px;
        float: left;
        position: absolute;
        top: 120px;
        padding: 10px;
        background: #FFF;
        box-shadow: 1px 1px 15px 0px #666;
        #description {
            width: 75%;
            padding: 30px 0px;
            font-style: italic;
            overflow: hidden;
        }
        #author {
            width:32%;
            float:left;
            font-weight: bold;
            text-align: right;
        }
        img {
            max-width: 715px;
            margin: auto;
            max-height: 400px;
            float: left;
        }
        #name {
            width:32%;
            float:left;
        }
        #date {
            width:32%;
            float:left;
            font-weight: bold;
        }
        #info {
            width:100%;
            overflow:hidden;
        }
    }
}
.left {
    width: 45%;
    float: left;
    height: auto;
    position: inherit;
    background: none;
    z-index: auto;
    #logo {
        position: absolute;
        z-index: 5;
        margin-top: 0px;
        left: 50px;
    }
    .left_pane {
        width: 60%;
    }
}
.user.account {
    #line {
        overflow: hidden;
        padding: 5px;
        width: 500px;
        margin: auto;
        p {
            width: 150px;
            float: left;
        }
        p:last-child {
            width: 350px;
            float: left;
            color: #40C540;
            font-weight: 700;
            font-size: 20px;
        }
    }
    #avatar {
        max-width: 200px;
        padding: 10px;
        margin: auto;
        display: block;
        text-align: center;
    }
    .accsettings {
        width: 490px;
        margin: auto;
    }
    #tabs {
        width: 1240px;
        margin: auto;
    }
}
#map_info {
    ul {
        list-style: none;
        li:nth-child(odd) {
            background: #CCC;
            color: #fff;
        }
        li {
            padding: 18px;
            text-align: center;
            font-size: 22px;
            font-weight: bold;
        }
        li:nth-child(even) {
            background: #FFF;
            color: #000;
        }
    }
    #cats {
        height: 76px;
        background: rgb(242, 242, 242);
        padding: 100px 20px;
        width: 200px;
        float: right;
        color: #121848;
    }
    #subinfo {
        height: 245px;
        float: right;
        width: 100%;
        background: rgba(255, 255, 255, 0.4);
    }
}
.accsettings {
    #curavatar {
        width: 200px;
        padding: 10px;
        margin: auto;
        display: block;
        text-align: center;
    }
    #avadel {
        cursor: pointer;
    }
}

#iamnew {
    overflow: hidden;
    width: 70%;
    margin: auto;
    img {
        width: 40%;
    }
    #text {
        float: left;
        width: 60%;
    }
    h2 {
        text-align: left;
    }
}
.admin.photos {
    .content form:hover {
        background: #DDD;
        border: 1px solid #000;
    }
    .content form {
        margin: 10px;
        overflow: hidden;
        width: 45%;
        display: block;
        float: left;
        height: 220px;
        -webkit-transition: all 0.3s linear;
        -moz-transition: all 0.3s linear;
        -o-transition: all 0.3s linear;
        border: 1px solid #CCC;
        border-radius: 5px;
        img {
            float: left;
            padding: 5px;
            max-width: 185px;
        }
        #subdata {
            float: left;
        }
    }
}
.album {
    #categories {
        select {
            padding: 2px 4px;
            margin: 5px 0;
            width: 100%;
        }
    }
    #map {
        height: 400px;
    }
    .map {
        margin: 0px;
        width: 50%;
        float: left;
    }
    .results {
        padding: 10px;
        float: left;
        .obj {
            overflow: hidden;
            padding: 5px;
            float: left;
            height: 185px;
            width: 150px;
            padding: 4px;
            margin: 5px;
            background: #FFF;
            border: 1px solid #bbb;
            .image {
                overflow: hidden;
                height: 148px;
                width: 148px;
                border: 1px solid #999;
            }
            #name {
                color: @headings;
                font-size: 13px;
                padding: 3px 0;
                height: 16px;
                overflow: hidden;
            }

            #time {
                color: #555;
                float:right;
                font-size: 10px;
                padding: 3px 0;
            }
        }
        .obj:hover {
            border: 1px solid #bbb;
            background: #FFF;
            padding: 15px;
            margin: -6px;
            z-index:5;
        }
    }
}
#logo {
    margin-top: -5px;
    float: left;
    padding: 10px 0;
    margin-left: 15px;
    .slogan {
        display: none;
        color: @headings;
        font-size: 13px;
        padding: 5px;
        margin-left: -25px;
        margin-top: -5px;
    }
}
h2#head, h3#head {
    text-align: center;
    padding: 10px;
    color: @headings;
    text-decoration: none;
    font-size:27px;
}
.index {
    .content {
        padding-bottom: 0px;
        .right {
            width: 685px;
        }
        .left {
            width: 505px;
            float: left;
            background: #FFF;
            position: absolute;
            top: 0;
            z-index: 3;
            height: 100%;
            background-image: url(/style/images/bg_im.png);
            background-position-y: 10px;
            background-repeat: no-repeat;
        }
    }
    #last_photo {
        .info {
            background: #FFF;
            padding: 10px 0 10px 10px;
        }
    }
    #map_canvas {
        width: 100%;
        height: 100%;
        margin: 0;
        position: absolute !important;
        top: 0;
    }
    #logo {
        .slogan {
            display: block;
        }
    }
    .header {
        z-index: 5;
        position: relative;



        #top {
            background: url(/style/images/index_top.png) no-repeat;
            background-position-x: 100%;
            #mission {
                position: absolute;
                display: block;
                right:50%;
                margin-right: -600px;
                #name {
                    float: left;
                    font: 26px Arial;
                    color: c1e3ef;
                    font-style: italic;
                    font-weight: bold;
                }
                #text {
float: left;
width: 600px;
color: #909090;
font-size: 11px;
text-align: right;
margin-right: 20px;
                }
            }
            ul#menu {
                background: none;
                margin-top: 35px;
                li {
                    width: 88px;
                }
            }
        }
        #logo {
            height: 100px;
            margin-top: -5px;
            padding: 10px 55px;
            float: right;
            margin-right: 10px;
            img {
                height: 75px;
            }
        }
    }
    .footer {
        margin: -100px 0 0 0;
        height: 90px;
        #bot_menu {
            background:#000;
        }
    }
}
#wblock {
    width: 710px;
    height: 248px;
    float: left;
    position: relative;
    left: -75px;
    margin-top: -255px;
    background: rgba(255,255,255,0.8);
    z-index: 2;
}
.page.view{
    .content {
        width:950px;
        margin:auto;
    }
}
.user.panel {
    #photos-conf, #photos-notconf {
        overflow: hidden;
    }
    form.frm {
        margin: 10px;
        overflow: hidden;
        width: 580px;
        display: block;
        float: left;
        height: 220px;
        -webkit-transition: all 0.3s linear;
        -moz-transition: all 0.3s linear;
        -o-transition: all 0.3s linear;
        border: 1px solid #CCC;
        border-radius: 5px;
        img {
            float: left;
            padding: 5px;
        }
        #subdata {
            float: right;
            width: 330px;
        }
    }
    form.frm:hover {
        background: #DDD;
        border: 1px solid #000;
    }
}
.album.earth {
    .content {
        width: 1210px;
        margin: auto;
    }
}
.album.map {
    .content{
        border-top: 1px solid #bbb;
    }
    #categories {
        select {
            padding: 2px 4px;
            margin: 5px 0;
            width: 100%;
        }
    }
    #map {
        height: 100%;
        margin-bottom: -265px;
    }
    .map {
        margin: 0px;
        width: 50%;
        float: left;
        margin-bottom: -275px;
        height: 100%;
    }
    a {
        text-decoration: none;
    }
    h2#head {
        font-size: 17px;
        font-weight: bold;
        text-align: left;
        padding: 0 0 10px 0;
    }
    .results {
        padding: 10px;
        position: relative;
        top: 30px;
        float: left;
        left: -50px;
        background: #FFF;
        display: none;
        box-shadow: 0px 0px 10px 0px #999;
        max-width: 45%;
        overflow: hidden;
        .obj {
            overflow: hidden;
            padding: 5px;
            img {
                border: 1px solid #999;
            }
            .image {
                float: left;
                padding: 2px 5px;
                width:210px;
            }
        }
        img {
            max-height: 55%;
            max-width: 100%;
        }
    }
}
.contact {
    .content{
        padding-bottom: 100px;
        overflow: hidden;
        width: 1200px;
        margin: auto;
    }
    #addit {
        padding: 12px 0;
    }
    .info {
        width: 40%;
        padding: 0 5%;
        float: left;
        margin-right: -1px;
        height: 100%;
        margin-bottom: -400px;
        border-right: 1px solid #bbb;
        table {
            width: 90%;
            td {
                padding:3px 10px;
                color: @headings;
                vertical-align: top;
                h2 {
                    font-size: 20px;
                }
                h3 {
                    font-size: 15px;
                }
            }
            tr {
                td:first-child {
                    text-align:right;
                    color: #555;
                }
            }
        }
    }
    .feedform {
        width: 40%;
        padding: 0 5%;
        float: left;
        textarea {
            width: 159px;
            height:100px;
            resize:none;
            padding: 2px;
        }
    }
}
.album.think {
    .results {
        width: 45%;
        float:right;
            #name {
                color: @headings;
                font-size: 13px;
                padding: 3px 0;
                height: 16px;
                overflow: hidden;
            }
    }
}
.album.photo {
    .content {
        width:1200px;
        margin:auto;
    }
    .info {
        float:left;
        width: 25%;
        display: block;
        padding: 2%;
        .personal_page {
            background: url(/style/images/man.jpg) no-repeat #18A139;
            padding: 5px 13px 5px 50px;
            color: #FFF;
            border-radius: 5px;
            text-decoration: none;
            font-weight: bold;
            font-size: 18px;
            width: 75px;
            background-position: 5px 5px;
            a {
                color: #FFF;
                text-decoration: none;
            }
        }
        h2#title {
            padding: 20px 0 0 0;
        }
        h2#category {
            padding: 5px 0;
            color: @headings;
        }
    }
    .bigimage {
        max-width: 100%;
        margin:auto;
    }
    #author {
        float: left;
        padding: 5px 5px 5px 20px;
        color: @headings;
        background: url(/style/images/star.png) no-repeat;
        background-position: 5px;
        font-size: 13px;
    }
    .comments {
        padding: 10px 0;
        a#reply {
            float: right;
            padding: 0px 10px;
            color: #18a1c4;
            text-decoration: underline;
            cursor: pointer;
            z-index:5;
        }

        .comment {
            padding-left: 10px;
            overflow: hidden;
            padding: 5px 0;
            #text {
                clear: both;
                border-top: 1px solid #CCC;
                margin-left: 110px;
            }
            #username {
                float: left;
                color: @headings;
                font: 16px/19px Arial;
                font-weight: bold;
                text-decoration: none;
                padding-left: 110px;
            }
            #date {
                font: 11px/20px Arial;
                padding: 0 10px;
                float: right;
                padding-right: 60px;
            }
            #inf {
                float: left;
                width: 100%;
                margin-left: -100px;
                margin-right: -60px;
            }
            #avatar {
                float: left;
                padding: 5px;
                width: 90px;
                img {
                    max-height: 90px;
                    max-width: 90px;
                }
            }
        }
        .comment:nth-child(even){
            background-color: #e8f6eb;
        }
    }
    .discussed {
        float:right;
        width:9%;
        a.photo {
            height: 63px;
            overflow: hidden;
            float: left;
            padding: 10px 0;
        }
        img {
            width:90%;
            padding: 0px 5% 10px 5%;
        }
        #title {
            color: @headings;
            font: 19px/22px Arial;
            padding: 10px 5%;
            width: 90%;
        }
    }
    .image {
        display: block;
        overflow: hidden;
        width: 61%;
        float: left;
    }
    #date {
        float: right;
        padding: 5px 0;
    }
    .bigimage_map {
        width: 95%;
        height: 300px;
        margin:5px 0;
        border: 1px solid #AAA;
    }
}
.forgot .forgot, .uforgot .forgot {
    width: 400px;
    margin: auto;
}
h2#title {
    padding: 10px;
    color: @headings;
    font-size: 21px;
}
.user.login {
    .content {
        width: 900px;
        margin: auto;
    }
    .left{
        border-right: 1px solid #bbb;
        margin-left: -1px;
        height: 100%;
        margin-bottom: -400px;
        width: 40%;
    }
    label {
        text-align: right;
        min-height: 10px;
    }
    input#pass {
        float:left;
    }
    #pass_text {
        width: 75px;
        float: left;
        padding: 3px 10px;
    }
}
.user.account.photo{
    .content {
        width:675px;
        margin: auto;
    }
    img#alb {
        float:left;
        width: 150px;
    }
    form{
        float: left;
        width:500px;
        textarea {
            width: 360px;
            height: 105px;
        }
    }
    ul#userlist{
        float: left;
        padding-left: 25px;
        width: 230px;
        height: 300px;
        overflow-y:auto;
        li {
            list-style-type: none;
            overflow: hidden;
            #names {
                float: right;
                width: 135px;
            }
            input {
                
            }
            img {
                width: 50px;
                float: left;
            }
        }
    }
    ul#selectlist {
        float: right;
        width: 230px;
        height: 300px;
        overflow-y:auto;
        #user {
            overflow: hidden;
            #names {
                float: right;
                width: 135px;
            }
            input {
                
            }
            img {
                width: 50px;
                float: left;
            }
        }
    }
}