@headings: #18a13a;
@inputbg: #e5e5e5;
* {
    padding:0;
    margin:0;
}
html {
    width: 100%;
    height: 100%;
    min-height: 100%;
}
body {
    position: relative;
    min-height: 100%;
    margin: 0;
    padding: 0;
    background-position-x: center;
    font-family:Arial;
    color: #555;
    font-size:12px;
}
.bold {
    font-weight: bold !important;
}
a.link {
    color: #37AECC;
    text-decoration: underline;
}
a.red {
    font-weight: bold !important;
    color: #F00 !important;
    text-decoration: none;
}
a#button {
    background: #40C540;
    color: white;
    border: 0;
    border-radius: 5px;
    padding: 2px 18px;
    cursor: pointer;
    font-weight: bold;
    font-size: 20;
    text-decoration: none;
}
table {
    tr{
        td{
            font-size:12px;
        }
    }
}
form {
    .line h2#head, .line h3#head {
        text-align: left;
    }
    .res.success {
        color:@headings;
    }
    label {
        padding: 3px 5px;
        width: 25%;
        display: block;
        float: left;
        text-align: right;
        min-height: 10px;
    }
    input {
        padding:4px;
        background: @inputbg;
        border: 1px solid #555;
        color: #5f5f5f;
    }
    textarea {
        padding:4px;
        background: @inputbg;
        border: 1px solid #555;
        color: #5f5f5f;
    }
    select {
        background: @inputbg;
    }
    input[type=checkbox] {
        margin: 6px 5px;
    }
    
    input[type=submit] {
        background: #40C540;
        color: white;
        border: 0;
        border-radius: 5px;
        padding: 2px 18px;
        cursor: pointer;
        font-weight: bold;
        font-size: 20;
    }
    .data.line {
        width: 100%;
        padding: 2px 0px;
        display: block;
        overflow: hidden;
        #block {
            display: block;
            float: left;
            width: 270px;
        }
    }
    .res.err {
        color: #F00;
        width: 75%;
        float: right;
        text-align: left;
        margin-right: -10px;
    }
    .progress {
        position: relative;
        width: 390px;
        border: 1px solid #ddd;
        padding: 1px;
        border-radius: 3px;
        .percent {
            position: absolute;
            display: inline-block;
            top: 3px;
            left: 48%;
        }
        .bar {
            background-color: #B4F5B4;
            width: 0%;
            height: 20px;
            border-radius: 3px;
        }
    }
}
.wrapper {
    min-height: 100%;
    background: url(/style/images/bg_im.png) no-repeat;
    background-size: 375px;
    min-width: 1260px;
    background-position-y: 50px;
    position: relative;
    margin: auto;
    width: 1024px;
}
#bg.top{
    height: 78px;
    display: block;
    position: absolute;
    right: 0px;
    width: 50%;
    background-color: #18633A;
    z-index: -1000; 
}
.header {
    form#lang{
        float:right;
        width: 100px;
        padding: 10px;
        label{
            clear: both;
            width: 95px;
            text-align: right;
            padding: 10px 1px 5px 1px;
        }
        select {
            border: 1px solid #18A03A;
            width: 95px;
        }
    }
    width:100%;
    overflow: hidden;
    ul#menu {
        list-style: none;
        display: block;
        overflow: hidden;
        float:right;
        background: #18633A;
        padding-left: 0px;
        background-repeat: no-repeat;
        li {
            list-style: none;
            float: left;
            padding: 20px 0px;
            color: #fff;
            font-size: 16px;
            font-weight: bold;
            width: 85px;
            text-align: center;
            a {
                color: #FFF;
                text-decoration: none;
                font-size:15px;
                vertical-align: middle;
                height: 38px;
                display: table-cell;
                width: 85px;
            }
            &:hover {
                background: #189A3A;
            }
        }
        li#double a{
            height:19px;
            display: block;
            width: 100%;
            line-height: 19px;
        }
        li.download {
            background: #97BE0A;
            border-radius: 15px;
            height: 38px;
            padding: 8px;
            margin: 12px;
        }
    }
    #logo {
        img {
            height: 140px;
        }
    }
    #menu {
        display: block;
    }
    #userslist {
        width: 850px;
        position: absolute;
        right: 50%;
        top: 60px;
        border-top: 1px solid #18A139;
        border-bottom: 1px solid #18A139;
        padding: 5px 0;
        margin-top: 20px;
        margin-right: -595px;
        #naming {
            margin-top: -25px;
            width: 115px;
            background: #FFF;
            padding: 2px 5px;
            color: @headings;
        }
        #user:hover {
            #name {
                display:block;
            }
            #avatar {
                display:none;
            }
        }
        #user {
            width: 75px;
            float: left;
            padding: 5px;
            height: 60px;
            color: #000;
            text-decoration: none;
            #name {
                height: 60px;
                background: rgba(0,0,0,0.2);
                display: none;
                width: 60px;
                padding: 0 5px;
            }
            #avatar {
                width: 60px;
                margin: auto;
                img {
                    max-width:100%;
                }
            }
        }
    }
    #top {
        overflow:hidden;
    }
}


.content {
    padding-bottom: 100px;
    overflow: hidden;
    img.divider {
        position: absolute;
        left: 335px;
        top: 0;
        height: 100%;
        z-index: 4;
    }
    form {
        margin:10px;
    }
    #error {
        z-index: 5;
        position: absolute;
        width: 500px;
        left: 50%;
        margin-left: -245px;
        background: #FFF;
        padding: 10px;
        font-size: 52px;
        text-align: center;
        color: #F00;
    }
    #noterror {
        z-index: 5;
        position: absolute;
        width: 500px;
        left: 50%;
        margin-left: -245px;
        background: #FFF;
        padding: 10px;
        font-size: 52px;
        text-align: center;
        color: #0F0;
    }
    .right {
        width: 55%;
        float: right;
        #data {
            padding:25px;
            font-style: italic;
        }
    }
}

.footer {
    width: 100%;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    z-index: 10;
    margin: -30px 0 0 0;
    height: 20px;
    ul#menu {
        list-style: none;
        padding: 3px;
        li {
            padding: 0 5px;
            float: left;
            color:#fff;
            a {
                color:#fff;
                text-decoration:none;
            }
        }
    }
    #menu {
        display: block;
        float:right;
    }
    #bot_menu {
        overflow:hidden;
        background:@headings;
        #rights {
            float: left;
            padding-left: 20%;
            color: #FFF;
        }
    }
    #carousel {
        position: relative;
        width: 100%;
        height: 70px;
        overflow: auto;
        background: #FFF;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        ul {
            display: block;
            img {
                display: block;
                margin: auto;
            }
        }
        .container {
            overflow: hidden;
            a {
                display: block;
                float: left;
                border: none;
                padding: 5px;
                max-width: none;
                width: 50px;
                text-align: center;
                overflow: hidden;
                height: 50px;
            }
            img {
                max-height: 73px;
                max-width: 73px;
            }
        }
    }
}

.right {
    #map_info {
        padding: 10px;
        height: 300px;
        float: right;
        width: 240px;
        position: absolute;
        z-index: 5;
        right: 70px;
    }
}
.left {
    width: 45%;
    float: left;
    height: auto;
    position: inherit;
    background: none;
    z-index: auto;
    #logo {
        position: absolute;
        z-index: 5;
        margin-top: 0px;
        left: 50px;
    }
    .left_pane {
        width: 60%;
    }
}
.user.account {
    .content {
        width: 900px;
        margin: auto;
        #maininfo {
            overflow: hidden;
            #avatar {
                float: left;
                padding: 5px;
            }
            #info {
                float: left;
                padding: 10px;
                #uname {
                    font-size: 16px;
                }
                #bdate {
                    font-size: 12px;
                }
            }
        }
        #adinfo{
            padding: 5px;
            width: 100%;
            padding-bottom: 25px;
            border-bottom: 1px solid #999;
            margin-bottom: 25px;
        }
        #userphotos {
            padding-bottom: 25px;
            border-bottom: 1px solid #999;
            margin-bottom: 25px;
            .container {
                overflow: hidden;
            }
            #photo {
                width: 150px;
                height: 150px;
                overflow: hidden;
                margin: 5px;
                float: left;
                img {
                    max-width: 200px;
                    max-height: 200px;
                }
            }
        }
    }
}
#map_info {
    ul {
        list-style: none;
        li:nth-child(odd) {
            background: #CCC;
            color: #fff;
        }
        li {
            padding: 18px;
            text-align: center;
            font-size: 22px;
            font-weight: bold;
        }
        li:nth-child(even) {
            background: #FFF;
            color: #000;
        }
    }
    #cats {
        height: 76px;
        background: rgb(242, 242, 242);
        padding: 100px 20px;
        width: 200px;
        float: right;
        color: #121848;
    }
    #subinfo {
        height: 245px;
        float: right;
        width: 100%;
        background: rgba(255, 255, 255, 0.4);
    }
}

#iamnew {
    overflow: hidden;
    width: 70%;
    margin: auto;
    img {
        width: 40%;
    }
    #text {
        float: left;
        width: 60%;
    }
    h2 {
        text-align: left;
    }
}
.admin.rights {
    .content {
        width:800px;
        margin: auto;
        .userlist {
            width:50%;
            float:left;
            li {
                overflow: hidden;
                list-style: none;
                display: block;
                img {
                    width: 100px;
                    float: left;
                    padding: 5px;
                }
            }
        }
        #rights{
            width:50%;
            float:left;
            margin:0px;
        }
    }
}
.admin.photos {
    .content form:hover {
        background: #DDD;
        border: 1px solid #000;
    }
    .content form {
        margin: 10px;
        overflow: hidden;
        width: 45%;
        display: block;
        float: left;
        height: 220px;
        -webkit-transition: all 0.3s linear;
        -moz-transition: all 0.3s linear;
        -o-transition: all 0.3s linear;
        border: 1px solid #CCC;
        border-radius: 5px;
        img {
            float: left;
            padding: 5px;
            max-width: 185px;
        }
        #subdata {
            float: left;
        }
    }
}
.album {
    #categories {
        select {
            padding: 2px 4px;
            margin: 5px 0;
            width: 100%;
        }
    }
    #map {
        height: 400px;
    }
    .map {
        margin: 0px;
        width: 50%;
        float: left;
    }
    .results {
        padding: 10px;
        float: left;
        .obj {
            overflow: hidden;
            padding: 5px;
            float: left;
            height: 185px;
            width: 150px;
            padding: 4px;
            margin: 5px;
            background: #FFF;
            border: 1px solid #bbb;
            .image {
                overflow: hidden;
                height: 148px;
                width: 148px;
                border: 1px solid #999;
            }
            #name {
                color: @headings;
                font-size: 13px;
                padding: 3px 0;
                height: 16px;
                overflow: hidden;
            }

            #time {
                color: #555;
                float:right;
                font-size: 10px;
                padding: 3px 0;
            }
        }
        .obj:hover {
            border: 1px solid #bbb;
            background: #FFF;
            padding: 15px;
            margin: -6px;
            z-index:5;
        }
    }
}
#logo {
    margin-top: -5px;
    float: left;
    padding: 10px 0;
    margin-left: 15px;
    .slogan {
        display: none;
        color: @headings;
        font-size: 13px;
        padding: 5px;
        margin-left: -25px;
        margin-top: -5px;
    }
}
h2#head, h3#head {
    text-align: center;
    padding: 0px;
    color: @headings;
    text-decoration: none;
    font-size:27px;
}
.index {
    .header {
        z-index: 5;
        position: relative;
        #logo {
            width: 400px;
            img {
                height: 75px;
            }
           .slogan {
                display: block;
            }
        }
    }
    .content {
        padding-bottom: 0px;
        #map_canvas {
            width: 720px;
            height: 600px;
            margin: 0;
            float: left;
        }
        .left_pane {
            width: 540px;
            float: left;
            #photoimg {
                height: 400px;
                overflow: hidden;
                display: block;
            }
            #last_photo {
                max-width: 715px;
                margin-left: 10px;
                max-height: 715px;
                float: left;
                padding: 10px;
                background: #FFF;
                box-shadow: 1px 1px 15px 0px #666;
                #description {
                    width: 75%;
                    padding: 30px 0px;
                    font-style: italic;
                    overflow: hidden;
                }
                #author {
                    width:32%;
                    float:left;
                    font-weight: bold;
                    text-align: right;
                }
                img {
                    max-width: 715px;
                    margin: auto;
                    max-height: 400px;
                    float: left;
                }
                #name {
                    width:32%;
                    float:left;
                }
                #date {
                    width:32%;
                    float:left;
                    font-weight: bold;
                }
                #info {
                    width:100%;
                    overflow:hidden;
                    padding: 10px 0 10px 10px;
                }
            }
        }
    }
    .footer {
        margin: -100px 0 0 0;
        height: 90px;
        #bot_menu {
            background:#000;
        }
    }
}
#wblock {
    width: 710px;
    height: 248px;
    float: left;
    position: relative;
    left: -75px;
    margin-top: -255px;
    background: rgba(255,255,255,0.8);
    z-index: 2;
}
.lang {
    display:none;
}
.page.view{
    .content {
        width:950px;
        margin:auto;
    }
}
.user.panel {
    #photos-conf, #photos-notconf {
        overflow: hidden;
    }
    form.frm {
        padding: 30px 20px 10px 20px;
        overflow: hidden;
        width: 845px;
        display: block;
        float: left;
        height: 220px;
        border-bottom: 1px solid #CCC;
        margin: -10px;
        img {
            float: left;
            padding: 5px;
        }
        #subdata {
            float: right;
            width: 610px;
        }
    }
    #messages {
        #message{
            a#mespane{
                display:block;
            }
            overflow: hidden;
            width: 100%;
            #avatar{
                overflow: hidden;
                float:left;
                img{
                    width:100px;
                }
            }
            #text{
                
            }
        }
    }
}
.user {
    #messages {
        width: 800px;
        margin: auto;
        margin-bottom: 10px;
        padding: 0px;
        background: #FFF;
        #message{
            overflow: hidden;
            width: 100%;
            padding: 5px 0;
            #avatar{
                overflow: hidden;
                float:left;
                img{
                    width:40px;
                }
            }
            #text{
                
            }
        }
        #message.notread {
            background: #EEE;
        }
    }
}
.user.account.panel {

    .ui-widget-content {
        border: 0px;
        background: none;
        border-radius: 0px;
    }
    .ui-widget-header {
        border: 0px;
        border-bottom: 1px solid #999;
        background: none;
        border-radius: 0px;
    }
    .ui-tabs {
        .ui-tabs-nav {
            li {
                &.ui-state-default {
                    border: none;
                    background: none;
                    a {
                        color: #37AECC;
                        padding: 10px 15px 15px 15px;
                        text-decoration: underline;
                        outline: none;
                    }
                }
                &.ui-state-active {
                    border: none;
                    background: none;
                    a {
                        color: #666;
                        text-decoration: none;
                    }
                }
            }
        }
    }
    .divider {
        padding-top: 20px;
        margin-top: 20px;
        border-top: 1px solid #999;
        float: left;
        width: 100%;
    }
    #line {
        overflow: hidden;
        padding: 5px;
        width: 500px;
        margin: auto;
        p {
            width: 150px;
            float: left;
        }
        p:last-child {
            width: 350px;
            float: left;
            color: #40C540;
            font-weight: 700;
            font-size: 20px;
        }
    }
    #avatar {
        max-width: 150px;
        padding: 10px;
        margin: auto;
        display: block;
        text-align: center;
    }
    .accsettings {
        margin: auto;
        label {
            width: 125px;
        }
        #userinfo {
            width: 515px;
            float: left;
        }
        input[type=text]{
            width: 250px;
        }
        textarea {
            margin: 0px;
            width: 375px;
            height: 128px;
        }
        .progress {
            width: 146px;
        }
        #avainf {
            width: 350px;
            float: left;
            label {
                width: 85px;
            }
            #avatarfl {
                text-align: center;
                overflow: hidden;
                width: 150px;
                height: 25px;
                #name {
                    float: left;
                    width: 118px;
                    line-height: 23px;
                    height: 23px;
                    font-size: 10px;
                    border: 1px solid #999;
                    background-color: #E5E5E5;
                }
                #avasel {
                    color: #fff;
                    font-size: 20px;
                    font-weight: bold;
                    background-color: #038f1a;
                    width: 30px;
                    float: left;
                    cursor: pointer;
                    position: relative;
                }
                #avatar {
                    -moz-opacity: 0;
                    filter: alpha(opacity=0);
                    opacity: 0;
                    font-size: 150px;
                    height: 100px;
                    position: absolute;
                    top: 0;
                    right: 0;
                }
            }
        }
        #curavatar {
            width: 150px;
            display: block;
            float: left;
            img {
                width: 150px;
            }
            #avadel {
                display: block;
                text-align: left;
                color: #37AECC;
                cursor: pointer;
            }
        }
    }
    #tabs {
        width: 900px;
        margin: auto;
    }
    #messages {
        overflow: hidden;
        width: 100%;
        .mCustomScrollBox {
            margin: 10px 0;
        }
        #lastmes {
            width: 25%;
            float: left;
        }
        #meslst {
            position: relative; 
            overflow: auto;
            width: 100%;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            float: left;
        }
    }
    #earthspots {
        overflow: hidden;
        #spot {
            float: left;
            width: 580px;
            padding: 10px;
            #image {
                width: 200px;
                height: 150px;
                overflow: hidden;
                padding: 5px;
                float: left;
                img {
                    width: 200px;
                }
            }
            #info {
                float: left;
                padding: 5px;
                width: 360px;
            }
        }
    }
}
.album.earth {
    .content {
        width: 1210px;
        margin: auto;
    }
}
.album.map {
    .content{
        border-top: 1px solid #bbb;
        position: relative;
    }
    #categories {
        select {
            padding: 2px 4px;
            margin: 5px 0;
            width: 100%;
        }
    }
    #info{
        padding: 10px;
        #desc, #categories{
            padding-top: 5px;
        }
    }
    #map {
        height: 100%;
        margin-bottom: -265px;
    }
    .map {
        margin: 0px;
        width: 100%;
        float: left;
        margin-bottom: -275px;
        height: 100%;
    }
    a {
        text-decoration: none;
    }
    h2#head {
        font-size: 17px;
        font-weight: bold;
        text-align: left;
        padding: 0 0 10px 0;
    }
    .results {
        padding: 10px;
        position: absolute;
        top: 55px;
        right: 40px;
        background: #FFF;
        display: none;
        box-shadow: 0px 0px 10px 0px #999;
        max-width: 45%;
        overflow: hidden;
        .obj {
            overflow: hidden;
            padding: 5px;
            img {
                border: 1px solid #999;
            }
            .image {
                float: left;
                padding: 2px 5px;
                width:210px;
            }
        }
        img {
            max-height: 55%;
            max-width: 100%;
        }
    }
}
.contact {
    .content{
        padding-bottom: 100px;
        overflow: hidden;
        width: 1200px;
        margin: auto;
        padding-top: 65px;
    }
    #addit {
        padding: 12px 0;
    }
    .info {
        width: 22%;
        padding: 0 5%;
        float: left;
        margin-right: -1px;
        height: 100%;
        margin-bottom: -400px;
        border-right: 1px solid #bbb;
        padding-left: 20%;
        h2, h3 {
            color: @headings;
            font-weight: 100;
        }
        h2#head {
            padding-bottom: 20px;
            font-weight: 700;
            text-align: left;
        }
        #addresses {
            padding-top: 20px;
        }
    }
    .feedform {
        width: 40%;
        padding: 0 5%;
        float: left;
        textarea {
            width: 159px;
            height:100px;
            resize:none;
            padding: 2px;
        }
    }
}
.album.think {
    h2 {
        clear: both;
        display: block;
        color: #CBCBCB;
        font-size: 24px;
        padding: 10px 5px 15px 5px;
        a {
            text-decoration: none;
            color: #505050;
            &.link {
                font-size: 12px;
                text-decoration: none;
                color: #37AECC;
                font-weight: 100;
            }
        }
    }
    #theme {
        overflow: hidden;
        padding: 10px;
        margin-bottom: 10px;
        border-bottom: 1px solid @headings;
        &:last-child{
            border-bottom: 0;
        }
    }
    #photos {
        overflow: hidden;
        width: 1190px;
        margin: auto;
        padding: 35px;
    }
    #block {
        width: 350px;
        display: block;
        float: left;
        padding: 10px;
        box-shadow: 0px 0px 5px #999;
        margin: 10px;
        height: 360px;
        background: #FFF;
        #photo {
            width: 350px;
            height: 250px;
            overflow: hidden;
            margin-bottom: 10px;
            img{
                max-width: 370px;
            }
        }
        #name {
            color: @headings;
            font-size: 14px;
            padding: 3px 0;
            height: 16px;
            overflow: hidden;
            font-weight: 700;
        }
        &:hover {
            margin: 0px;
            padding: 20px;
        }
    }
}
.album.photo {
    .content {
        width:1200px;
        margin:auto;
    }
    .info {
        float:left;
        width: 25%;
        display: block;
        padding: 2%;
        .personal_page {
            background: url(/style/images/man.jpg) no-repeat #18A139;
            padding: 5px 13px 5px 50px;
            color: #FFF;
            border-radius: 5px;
            text-decoration: none;
            font-weight: bold;
            font-size: 18px;
            width: 75px;
            background-position: 5px 5px;
            a {
                color: #FFF;
                text-decoration: none;
            }
        }
        h2#title {
            padding: 20px 0 0 0;
        }
        h2#category {
            padding: 5px 0;
            color: @headings;
        }
    }
    .bigimage {
        max-width: 100%;
        margin:auto;
    }
    #author {
        float: left;
        padding: 5px 5px 5px 20px;
        color: @headings;
        background: url(/style/images/star.png) no-repeat;
        background-position: 5px;
        font-size: 13px;
    }
    .comments {
        padding: 10px 0;
        a#reply {
            float: right;
            padding: 0px 10px;
            color: #18a1c4;
            text-decoration: underline;
            cursor: pointer;
            z-index:5;
        }

        .comment {
            padding-left: 10px;
            overflow: hidden;
            padding: 5px 0;
            #text {
                clear: both;
                border-top: 1px solid #CCC;
                margin-left: 110px;
            }
            #username {
                float: left;
                color: @headings;
                font: 16px/19px Arial;
                font-weight: bold;
                text-decoration: none;
                padding-left: 110px;
            }
            #date {
                font: 11px/20px Arial;
                padding: 0 10px;
                float: right;
                padding-right: 60px;
            }
            #inf {
                float: left;
                width: 100%;
                margin-left: -100px;
                margin-right: -60px;
            }
            #avatar {
                float: left;
                padding: 5px;
                width: 90px;
                img {
                    max-height: 90px;
                    max-width: 90px;
                }
            }
        }
        .comment:nth-child(even){
            background-color: #e8f6eb;
        }
    }
    .discussed {
        float:right;
        width:9%;
        a.photo {
            height: 63px;
            overflow: hidden;
            float: left;
            padding: 10px 0;
        }
        img {
            width:90%;
            padding: 0px 5% 10px 5%;
        }
        #title {
            color: @headings;
            font: 19px/22px Arial;
            padding: 10px 5%;
            width: 90%;
        }
    }
    .image {
        display: block;
        overflow: hidden;
        width: 61%;
        float: left;
    }
    #date {
        float: right;
        padding: 5px 0;
    }
    .bigimage_map {
        width: 95%;
        height: 300px;
        margin:5px 0;
        border: 1px solid #AAA;
    }
}

.album.thinkspot {
    .content {
        width:1200px;
        margin:auto;
        #title {
            font-size: 20px;
            font-weight: 700;
            padding: 10px 0 0 0;
            #name {
                color: #AAAAAA;
                float: left;
                padding: 5px;
            }
            #data {
                color: #808080;
                padding: 5px;
            }
        }
    }
    .info {
        float:left;
        width: 25%;
        display: block;
        padding: 10px 30px 10px 0px;
        .personal_page {
            background: url(/style/images/man.jpg) no-repeat #18A139;
            padding: 5px 13px 5px 50px;
            color: #FFF;
            border-radius: 5px;
            text-decoration: none;
            font-weight: bold;
            font-size: 18px;
            width: 75px;
            background-position: 5px 5px;
            float: left;
            margin: 0 10px 0 0;
            &.think {
                margin: 0 0 0 14px;
            }
            a {
                color: #FFF;
                text-decoration: none;
            }
        }
        #shortdesc {
            font-weight: 100;
            font-size: 12px;
            padding: 10px 0;
            border-bottom: 1px solid #aaa;
            margin-bottom: 10px;
        }
        h2#title {
            padding: 20px 0 0 0;
        }
        h2#category {
            padding: 5px 0;
            color: @headings;
        }
    }
    .bigimage {
        max-width: 100%;
        margin: auto;
        display: block;
    }
    #author {
        float: left;
        padding: 5px 0;
        font-size: 13px;
    }
    #category {
        display: block;
        clear: both;
        padding: 5px 0;
    }
    #description{
        overflow: hidden;
        display: block;
        clear: both;
        padding: 5px 0;
        border-bottom: 1px solid @headings;
    }
    #photosline {
        position: relative;
        width: 100%;
        height: 70px;
        overflow: auto;
        background: #FFF;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        .container {
            overflow: hidden;
            a {
                display: block;
                float: left;
                border: none;
                padding: 5px;
                max-width: none;
                width: 50px;
                text-align: center;
                overflow: hidden;
                height: 50px;
            }
            img {
                max-height: 73px;
                max-width: 73px;
            }
        }
    }
    .comments {
        padding: 10px 0;
        a#reply {
            float: right;
            padding: 0px 10px;
            color: #18a1c4;
            text-decoration: underline;
            cursor: pointer;
            z-index:5;
        }

        .comment {
            padding-left: 10px;
            overflow: hidden;
            padding: 5px 0;
            #text {
                clear: both;
                border-top: 1px solid #CCC;
                margin-left: 110px;
            }
            #username {
                float: left;
                color: @headings;
                font: 16px/19px Arial;
                font-weight: bold;
                text-decoration: none;
                padding-left: 110px;
            }
            #date {
                font: 11px/20px Arial;
                padding: 0 10px;
                float: right;
                padding-right: 60px;
            }
            #inf {
                float: left;
                width: 100%;
                margin-left: -100px;
                margin-right: -60px;
            }
            #avatar {
                float: left;
                padding: 5px;
                width: 90px;
                img {
                    max-height: 90px;
                    max-width: 90px;
                }
            }
        }
        .comment:nth-child(even){
            background-color: #e8f6eb;
        }
    }
    .image {
        display: block;
        overflow: hidden;
        width: 71%;
        float: left;
        a.edit{
            color: #F00;
            padding: 5px;
            text-decoration: none;
            font-weight: 700;
        }
    }
    #date {
        float: right;
        padding: 5px 0;
    }
    .bigimage_map {
        width: 100%;
        height: 300px;
        margin:5px 0;
        border: 1px solid #AAA;
    }
}
.forgot .forgot, .uforgot .forgot {
    width: 400px;
    margin: auto;
}
h2#title {
    padding: 10px;
    color: @headings;
    font-size: 21px;
}
.user.login,
.reqlogged {
    .content {
        width: 900px;
        margin: auto;
    }
    .left{
        border-right: 1px solid #bbb;
        margin-left: -1px;
        height: 100%;
        margin-bottom: -400px;
        width: 40%;
    }
    label {
        text-align: right;
        min-height: 10px;
    }
    input#pass {
        float:left;
    }
    #pass_text {
        width: 75px;
        float: left;
        padding: 5px 10px;
        font-size: 13px;
    }
    .res.success{
        font-size: 26px;
        text-align: center;
    }
}
.user.account.photo{
    .content {
        width:675px;
        margin: auto;
    }
    img#alb {
        float:left;
        width: 150px;
    }
    form{
        float: left;
        width:500px;
        textarea {
            width: 360px;
            height: 105px;
        }
    }
    ul#userlist{
        float: left;
        padding-left: 25px;
        width: 230px;
        height: 300px;
        overflow-y:auto;
        li {
            list-style-type: none;
            overflow: hidden;
            #names {
                float: right;
                width: 135px;
            }
            input {
                
            }
            img {
                width: 50px;
                float: left;
            }
        }
    }
    ul#selectlist {
        float: right;
        width: 230px;
        height: 300px;
        overflow-y:auto;
        #user {
            overflow: hidden;
            #names {
                float: right;
                width: 135px;
            }
            input {
                
            }
            img {
                width: 50px;
                float: left;
            }
        }
    }
}
#iamnew h2#head {
    width: 399px;
    float: left;
    text-align: left;
    a {
        float: right;
    }
}

.album.thinkcreate {
    form.thcreate{
        width: 550px;
        float: left;
        .data.line{
            label{
                width: 220px;
            }
            #photos {
                padding: 10px;
                float: left;
            }
        }
    }
    .list{
        overflow: hidden;
        padding: 5px;
        .obj {
            width: 160px;
            float: left;
            padding: 5px;
            height: 170px;
                .image {
                width: 160px;
                height: 110px;
                overflow: hidden;
                margin-bottom: 10px;
                img{
                    width: 160px;
                }
            }
        }
    }
    #selected{
        overflow: hidden;
        padding: 5px;
        .object{
            overflow: hidden;
            width: 170px;
            float: left;
            input {
                clear: both;
                width: 100%;
                display: none;
            }
            .obj {
                width: 160px;
                float: left;
                padding: 5px;
                height: 165px;
                .image {
                    width: 160px;
                    height: 110px;
                    overflow: hidden;
                    margin-bottom: 10px;
                    img {
                        width: 160px;
                    }
                }
            }
            a.delete {
                color: #F00;
                font-weight: 700;
            }
        }
    }
    .map {
        width: 690px;
        float: left;
    }
    
}