* { 
    padding:0;
    margin:0;
}
html{
    width: 100%;
    height: 100%;
    min-height: 100%;
}
body {
    position: relative;
    min-height: 100%;
    margin: 0;
    padding: 0;
    /*background: url(/style/images/body_top.jpg) no-repeat;*/
    background-position-x: center;
}
.header {
    width:100%;
    overflow: hidden;
}
.header #menu {
    display: block;

}
.header #top{
    overflow:hidden;
}
.header ul#menu{
    list-style: none;
    display: block;
    overflow: hidden;
    float:right;
    background: #18633A;
    padding-left: 120px;
    background-image: url('/style/images/menu.jpg');
    background-repeat: no-repeat;
}
.header ul#menu li{
    list-style: none;
    float: left;
    padding: 8px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    width: 85px;
    text-align: center;
}
.header ul#menu li.download{
    background: #97BE0A;
    border-radius: 15px;
}
.header ul#menu li a{
    color: #FFF;
    text-decoration: none;
}
.index .footer{


    margin: -100px 0 0 0;
    height: 90px;
}
.footer {
    width: 100%;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    z-index: 10;
    margin: -30px 0 0 0;
    height: 20px;
}
.footer #bot_menu{
    overflow:hidden;
    background:#000;
}
.header #logo img {
    height: 140px;
}
.footer #menu {
    display: block;
    float:right;
}

.footer ul#menu{
    list-style: none;
}

.footer ul#menu li{
    padding: 0 5px;
    float: left;
}

.footer ul#menu li{
    color:#fff;
}
.footer #carousel {
    position: relative;
    width: 100%;
    height: 70px;
    overflow: auto;
    background: #FFF;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.footer #carousel .container {
    overflow: hidden;
}

.footer #carousel .container a{
    display: block;
    float: left;
    border: none;
    padding: 5px;
    max-width: none;
    width: 50px;
    text-align: center;
    overflow: hidden;
    height: 50px;
}
.footer #carousel .container img{
    max-height: 73px;
    max-width: 73px;
}
form .data.line{
    width: 100%;
    padding: 2px 0px;
    display: block;
    overflow: hidden;
}
label {
    padding: 3px 5px;
    width: 25%;
    display: block;
    float: left;
    text-align: right;
    min-height: 10px;
}

input{
    padding:3px;
}
input[type=submit]{
    background: #40C540;
    color: white;
    border: 0;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}
input[type=checkbox]{
    margin: 6px 5px;
}
.content {
    padding-bottom: 100px;
    overflow: hidden;
}
.index .content{
    padding-bottom: 0px;
}
.content .right{
    width: 55%;
    float: right;
}
.index .content .right{
    width: 685px;
}
.content form {
    margin:10px;
}
.wrapper {
    min-height: 100%;
    background: url(/style/images/bg_im.png) no-repeat;
    background-size: 375px;
    min-width: 1265px;
    background-position-y: 50px;
    position: relative;
    margin: auto;
}
.res.err{
    color: #F00;
    width: 75%;
    float: right;
    text-align: left;
    margin-right: -10px;
}
.res.success{
    color:#080;
}

bidy.index .content .left{
    width: 505px;
    float: left;
    background: #FFF;
    position: absolute;
    top: 0;
    z-index: 3;
    height: 100%;
    background-image: url(/style/images/bg_im.png);
    background-position-y: 10px;
    background-repeat: no-repeat;
}
.content img.divider {
    position: absolute;
    left: 335px;
    top: 0;
    height: 100%;
    z-index: 4;
}
.left .left_pane{
    width: 60%;
}

#logo {
    margin-top: -5px;
    float: left;
    padding: 10px 0;
    margin-left: 15px;
}
.left #logo {
    position: absolute;
    z-index: 5;
    margin-top: 0px;
    left: 50px;
}
.index .header #logo {
    height: 89px;
    margin-top: -5px;
    background: url(/style/images/indexlogo.png) no-repeat;
    padding: 10px 55px;
    float: right;
    margin-right: -40px;
}
.index .header #logo img {
    height: 75px;
}
.left_pane #last_photo {
    max-width: 715px;
    margin-left: 10px;
    max-height: 715px;
    float: left;
    position: absolute;
    top: 200px;
    padding: 10px;
    background: #FFF;
    box-shadow: 1px 1px 15px 0px #666;
}

.left_pane #last_photo img{
    max-width: 715px;
    margin: auto;
    max-height: 715px;
    float: left;
}

.left_pane #last_photo #info{
    width:100%;
    overflow:hidden;
}
.left_pane #last_photo #name{
    width:32%;
    float:left;
}
.left_pane #last_photo #author{
    width:32%;
    float:left;
    font-weight: bold;
}
.left_pane #last_photo #date{
    width:32%;
    float:left;
    font-weight: bold;
}
.left_pane #last_photo #description{
    width: 75%;
    padding: 30px 0px;
    font-style: italic;
    overflow: hidden;
}
.index #map_canvas{
    width: 100%;
    height: 100%;
    margin: 0;
    position: absolute !important;
    top: 0;
}
.index .header {
    z-index: 5;
    position: relative;
}
.right #map_info{
    padding: 10px;
    height: 300px;
    float: right;
    width: 240px;
    position: absolute;
    z-index: 5;
    right: 70px;
}
.footer #carousel ul {
    display: block;
}
.footer #carousel ul img{
    display: block;
    margin: auto;
}
#map_info ul{
    list-style: none;
}
#map_info ul li{
    padding: 18px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
}
.content #error {
    z-index: 5;
    position: absolute;
    width: 500px;
    left: 50%;
    margin-left: -245px;
    background: #FFF;
    padding: 10px;
    font-size: 52px;
    text-align: center;
    color: #F00;
}
#map_info ul li:nth-child(even) {background: #FFF; color: #000;}
#map_info ul li:nth-child(odd) {background: #CCC; color: #fff;}
#map_info #cats{
    height: 76px;
    background: rgb(242, 242, 242);
    padding: 100px 20px;
    width: 200px;
    float: right;
    color: #121848;
}
#map_info #subinfo{
    height: 245px;
    float: right;
    width: 100%;
    background: rgba(255, 255, 255, 0.4);
}
.content .right #data {
    padding:25px;
    font-style: italic;
}
.index #logo .slogan {
    display: block;
}
#logo .slogan{
    display: none;
    color: #67af1d;
    font-size: 13px;
    padding: 5px;
    margin-left: -25px;
    margin-top: -5px;
}
.album.photo {
}
.album.photo .bigimage {
    max-width: 100%;
    margin:auto;
}
.album.photo .bigimage_map{
    width: 95%;
    height: 300px;
    margin:5px;
    border: 1px solid #AAA;
}
.album.photo .info {
    float:left;
    width: 25%;
    display: block;
    padding: 10px;
}
.album.photo .image {
    display: block;
    overflow: hidden;
    width: 60%;
    float: left;
}
.album.photo #author {
    float: left;
    padding: 5px 5px 5px 20px;
    color: #40C540;
    background: url(/style/images/star.png) no-repeat;
    background-position: 5px;
}
.album.photo #date {
    float: right;
    padding: 5px 0;
}
.album.photo .discussed {
    float:right;
    width:9%;
}
.header #userslist {
    width: 900px;
    position: absolute;
    right: 10px;
    top: 60px;
    border-top: 1px solid #18A139;
    border-bottom: 1px solid #18A139;
    padding: 5px 0;
    margin-top: 20px;
}
.header #userslist #user{
    width: 80px;
    float: left;
    padding: 5px;
    height: 60px;
    color: #000;
    text-decoration: none;

}
.header #userslist #user:hover #avatar{
    display:none;
}
.header #userslist #user:hover #name{
    display:block;
    /*margin-top: -60px;*/
}
.header #userslist #user #avatar {
    width: 60px;
    margin: auto;
}
.header #userslist #user #avatar img{
    max-width:100%;
}
.header #userslist #user #name {
    height: 60px;
    background: rgba(0,0,0,0.2);
    display: none;
    width: 60px;
    padding: 0 5px;
}
.header #userslist #naming {
    margin-top: -25px;
    width: 115px;
    background: #FFF;
    padding: 2px 5px;
    color: #40C540;
}
.album.photo .discussed img{
    width:90%;
    padding: 0px 5% 10px 5%;
}
.album.photo .discussed #title {
    color: #090;
    font: 20px/22px Arial;
    padding: 10px 5%;
    width: 90%;
}
.album.photo .comments{
    padding: 10px 0;
}
.album.photo .comments .comment {
    padding-left: 10px;
    overflow: hidden;
    padding: 5px 0;
}
.album.photo .comments .comment #avatar {
    float: left;
    padding: 5px;
    width: 90px;
}
.album.photo .comments .comment #avatar img{
    max-height: 90px;
    max-width: 90px;
}
.album.photo .comments .comment #inf {
    float: left;
    width: 630px;
}


.album.photo .comments .comment #username{
    float: left;
    color: #3C3;
    font: 19px/19px Arial;
    text-decoration: none;
}
.album.photo .comments .comment #date {
    font: 12px/20px Arial;
    padding: 0 10px;
    float: left;
}
.album.photo .comments .comment #text {
    clear: both;
    border-top: 1px solid #CCC;
}
.album .map {
    margin: 0px;
    width: 50%;
    float: left;
}
.album #map {
    height: 400px;
}
.album #categories select{
    padding: 2px 4px;
    margin: 5px 0;
    width: 100%;
}
.album .results {
    padding: 10px;
    float: left;
}
.album .results .obj{
    overflow: hidden;
    padding: 5px;
}
.album .results .obj img{

}
.album.think .results{
    width: 45%;
    float:right;
}
.album .results .obj{
    float: left;
    height: 185px;
    width: 150px;
    padding: 10px;
}
.album .results .obj:hover{
    border: 1px solid #AAA;
    background: #FFF;
    padding: 9px;
}
.album .results .obj .image{
    overflow: hidden;
    height: 150px;
    width: 150px;
    border: 1px solid #999;
}
.album.map .map {
    margin: 0px;
    width: 50%;
    float: left;
    margin-bottom: -110px;
}
.album.map #map {
    height: 100%;
    margin-bottom: -265px;
}
.album.map #categories select{
    padding: 2px 4px;
    margin: 5px 0;
    width: 100%;
}
.album.map .results {
    padding: 10px;
    position: relative;
    top: 30px;
    float: left;
    left: -50px;
    background: #FFF;
    display: none;
    box-shadow: 0px 0px 10px 0px #999;
    max-width: 45%;
    overflow: hidden;
}
.album.map .results img{
    max-height: 55%;
    max-width: 100%;
}
.album.map .results .obj{
    overflow: hidden;
    padding: 5px;
}
.album.map .results .obj img{
    border: 1px solid #999;
}
.album.map .results .obj .image {
    float: left;
    padding: 2px 5px;
    width:210px;
}
.admin.photos form img {
    float: left;
    padding: 5px;
    max-width: 185px;
}

.admin.photos form #subdata {
    float: left;
}
.admin.photos form {
    margin: 10px;
    overflow: hidden;
    width: 45%;
    display: block;
    float: left;
    height: 220px;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    border: 1px solid #CCC;
    border-radius: 5px; 
}
.admin.photos form:hover {
    background: #DDD;
    border: 1px solid #000;
}

.user.panel form.frm img {
    float: left;
    padding: 5px;
}
.user.panel form.frm #subdata {
    float: left;
}
.user.panel form.frm {
    margin: 10px;
    overflow: hidden;
    width: 45%;
    display: block;
    float: left;
    height: 220px;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    border: 1px solid #CCC;
    border-radius: 5px; 
}
.user.panel form.frm:hover {
    background: #DDD;
    border: 1px solid #000;
}
.user.panel #photos-conf,.user.panel #photos-notconf{
    overflow: hidden;
}
.user.login label{
    text-align: right;
    min-height: 10px;
}
.left{
    width: 45%;
    float: left;
    height: auto;
    position: inherit;
    background: none;
    z-index: auto;
}
.user.login input#pass{
    float:left;
}
.user.login #pass_text{
    width: 75px;
    float: left;
    padding: 3px 10px;
}
#wblock {
    width: 710px;
    height: 248px;
    float: left;
    position: relative;
    left: -75px;
    margin-top: -255px;
    background: rgba(255,255,255,0.8);
    z-index: 2;
}
.index #last_photo .info{
    background: #FFF;
    width: 525px;
    padding: 10px 0 10px 10px;
}
.progress {
    position: relative;
    width: 390px;
    border: 1px solid #ddd;
    padding: 1px;
    border-radius: 3px;
}
.progress .bar {
    background-color: #B4F5B4;
    width: 0%;
    height: 20px;
    border-radius: 3px;
}
.progress .percent {
    position: absolute;
    display: inline-block;
    top: 3px;
    left: 48%;
}
.contact .info {
    width: 50%;
    float: left;
}
.contact .info table{
    width: 90%;
}
.contact .info table td{
    padding:3px 10px;
    color: #40C540;
}
.contact .info table tr td:first-child{
    text-align:right;
    color: #000;
}
.contact .feedform {
    width: 35%;
    float: left;
}
#addit{

}
.contact .feedform textarea{
    width: 159px;
    height:50px;
    resize:vertical;
    padding: 2px;
}
h2#head, h3#head{
    text-align: center;
    padding: 10px;
    color: #40C540;
    text-decoration: none;
}
form .line h2#head, form .line h3#head{
    text-align: left;
}
h2#title{
    padding: 10px;
    color: #40C540;
}
body.forgot .forgot, body.uforgot .forgot{
    width: 400px;
    margin: auto;
}
body.account .accsettings {
    width: 455px;
    margin: auto;
}

a#reply {
    float: right;
    padding: 0px 10px;
}
.contact .info td {
    vertical-align: top;
}
#iamnew {
    overflow: hidden;
    width: 70%;
    margin: auto;
}
#iamnew #text {
    float: left;
    width: 60%;
}
#iamnew img {
    width: 40%; 
}
#iamnew h2{
    text-align: left;
}
.info .personal_page{
    background: url(/style/images/man.jpg) no-repeat #18A139;
    padding: 5px 5px 5px 50px;
    color: #FFF;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    width: 75px;
    background-position: 5px 5px;
}
.info .personal_page a{
    color: #FFF;
    text-decoration: none;
}

#photoimg {
    height: 285px;
    overflow: hidden;
    display: block;
}
.accsettings #curavatar{
    width: 200px;
    padding: 10px;
    margin: auto;
    display: block;
    text-align: center;
}
.accsettings #avadel {
    cursor: pointer;
}
.user.account #line{
    overflow: hidden;
    padding: 5px;
    width: 500px;
    margin: auto;
}

.user.account #line p{
    width: 150px;
    float: left;
}
.user.account #line p:last-child{
    width: 350px;
    float: left;
    color: #40C540;
    font-weight: 700;
    font-size: 20px;
}
.user.account #avatar {
    max-width: 200px;
    padding: 10px;
    margin: auto;
    display: block;
    text-align: center;
}